<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts :: header"></head>
<body>
<nav th:replace="layouts :: navbar"></nav>

<div class="container">
    <h3>Main Dashboard</h3>
    <a th:text="${versionNumber}"></a>
    <br>
    <!--<div th:replace="layouts :: timeline"></div>-->
    <hr>
    <h4>Current Projects:</h4>
    <div class="row">
        <div class="col-md-6">
            <table th:replace="layouts :: projects"></table>
        </div>
        <div class="col-md-4">
            <canvas id="myPieChart" height="50" width="50"></canvas>
            <script>
                var chartData = "[[${projectStatus}]]"
            </script>
        </div>
    </div>
</div>

<div class="container">
    <h4> Current Employees: </h4>
    <div class="row">
        <div class="col-md-6">
            <table class="table table-bordered table-striped">
                <thead class="thead-dark">
                <tr>
                    <th> First Name </th>
                    <th> Last Name </th>
                    <th> Projects Count </th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="employeeProjectCount:${employeesProjectCount}">
                    <td th:text="${employeeProjectCount.firstName}"></td>
                    <td th:text="${employeeProjectCount.lastName}"></td>
                    <td th:text="${employeeProjectCount.projectCount}"></td>

                </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>

<script type="text/javascript" th:src="@{js/myChart.js}"></script>
</body>
</html>