<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="header">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" th:href="@{/css/formatting.css}">

    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

</head>
<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Project Mgt App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/}">Home </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/employees}">Employees</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/projects}">Projects</a>
            </li>
        </ul>
    </div>
</nav>


    <table th:fragment="employees" class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th> Id </th>
            <th> First Name </th>
            <th> Last Name </th>
            <th> E-mail </th>
            <th> Action </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="employee:${employees}">
            <td th:text="${employee.employeeId}"></td>
            <td th:text="${employee.firstName}"></td>
            <td th:text="${employee.lastName}"></td>
            <td th:text="${employee.email}"></td>
            <td>
                <a th:href="@{/employees/update(id=${employee.employeeId})}" class="btn btn-info btn-sm">Update</a>
                <a th:href="@{/employees/delete(id=${employee.employeeId})}" class="btn btn-danger btn-sm" onclick="if(!(confirm('Are you sure you want to delete this employee?'))) return false">Delete</a>
            </td>

        </tr>
        </tbody>
    </table>


<table th:fragment="projects" class="table table-bordered table-striped">
    <thead class="thead-dark">
    <tr>
        <th> Project Name </th>
        <th> Project Stage </th>
        <th> Action </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="project:${projects}">
        <td th:text="${project.name}"></td>
        <td th:text="${project.stage}"></td>
        <td>
            <a th:href="@{/projects/update(id=${project.projectId})}" class="btn btn-info btn-sm">Update</a>
            <a th:href="@{/projects/delete(id=${project.projectId})}" class="btn btn-danger btn-sm" onclick="if(!(confirm('Are you sure you want to delete this project?'))) return false">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
</html>