<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts :: header"></head>

<body>
<nav th:replace="layouts :: navbar"></nav>
<div class="container">
<form method="post" th:action="@{/employees/create}" th:object="${employee}">
    <br>
    <div class="form-group">
        <input type="hidden" th:field="${employee.employeeId}">
    <input class="form-control" type="text" placeholder="First name" th:field="${employee.firstName}">
    </div>
    <div class="form-group">
    <input class="form-control" type="text" placeholder="Last name" th:field="${employee.lastName}">
    </div>
    <div class="form-group">
    <input class="form-control" type="text" placeholder="email" th:field="${employee.email}">
    </div>
    <div class="form-group">
    <button class="btn btn-primary btn-sm mb-3" type="submit">Create Employee</button>
    </div>
    </form>
</div>

</body>
</html>